Source: popsec
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  cargo,
  debhelper (>=10),
  libclang-dev,
  libgtk-3-dev,
  libhandy-1-dev,
  libtpm2-totp0,
  libtss2-dev,
  pkg-config,
  rustc (>=1.56.1~),
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/popsec

Package: popsec-daemon
Architecture: linux-any
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Pop security daemon

Package: popsec-gtk
Architecture: linux-any
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Pop security GTK application
